In [1]:
books = ['maths','physics','stats','chemistry','computers']

print(books)

['maths', 'physics', 'stats', 'chemistry', 'computers']

In [2]:
print(books[1].title())

Physics

In [ ]:
# looping statements

In [6]:
for x in books:
    print(x)

maths
physics
stats
chemistry
computers

In [8]:
for x in books:
    print(x.title())

Maths
Physics
Stats
Chemistry
Computers

In [9]:
for x in books:
    print(x.upper())

MATHS
PHYSICS
STATS
CHEMISTRY
COMPUTERS

In [ ]:
# appreciating students  through for loop

In [11]:
students = ['chan','hari','venkat','vicky']

print(students)

['chan', 'hari', 'venkat', 'vicky']

In [15]:
for z in students:
    print(f"\nappreciate your work keep up the same, {z}")
    print(f"looking for today files aswell. {z}")

appreciate your work keep up the same, chan
looking for today files aswell. chan

appreciate your work keep up the same, hari
looking for today files aswell. hari

appreciate your work keep up the same, venkat
looking for today files aswell. venkat

appreciate your work keep up the same, vicky
looking for today files aswell. vicky

In [18]:
for z in students:
    print(f"appreciate your work keep up the same, {z}")
    print(f"looking for today files aswell {z} .\n")
    
print("Thanks to everyone")

appreciate your work keep up the same, chan
looking for today files aswell chan .

appreciate your work keep up the same, hari
looking for today files aswell hari .

appreciate your work keep up the same, venkat
looking for today files aswell venkat .

appreciate your work keep up the same, vicky
looking for today files aswell vicky .

Thanks to everyone

In [ ]:
# numerical list 1-20

In [19]:
for value in range(1,21):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [20]:
value = list(range(1,21))

print(value)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# even numbers

In [21]:
even_num = list(range(2,20,2))

print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# odd numbers

In [23]:
odd_num = list(range(1,20,2))

print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]